.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

h2  {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin: 10px;
}

.infoWindow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #A52A2A;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  a {
    color: black;
  }
  
  a:hover {
    color: #A52A2A;
  }
}
 
p {
  color: white;
  font-size: small;
}
a {
  color: rgb(248, 212, 251);
}


